{%extends 'base.html'%} {%block content%}
{% if category_posts %}
  <h1>{{ cats }} Category</h1>
  <br />
  <h2>Posts</h2>

  <div class="form-group"></div>
    {%for post in category_posts%}
        <a href="{% url 'article-detail' post.pk %}"> <br /> {{ post.title }}</a> - {{ post.post_date }} <br />
        {{ post.author.first_name }} {{ post.author.last_name }} <br />
        {{ post.body | slice:":100" | safe }} <br/>
        {% if user.is_authenticated %}
          <small><a href="{% url 'update_post' post.pk %}">Edit - </a> </small>
          <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>
        {% endif %}
        <hr />
    {%endfor%}
  </div>

{% else %}
    <div>
      <h3>Sorry 😟 , the category doesn't exist...</h3>
  </div>
{% endif %}
{%endblock%}
