{%extends 'base.html'%} {%block content%}

<h1>Welcome to my blog!</h1>
<br />
<h2>Posts</h2>

<div class="form-group"></div>
  {%for post in object_list%}
      <a href="{% url 'article-detail' post.pk %}"> <br /> {{ post.title }}</a> - {{ post.post_date }} <br />
       <a href="{% url 'category' post.category|slugify %}"> {{ post.category }}</a> <br/>
       {{ post.author.first_name }} {{ post.author.last_name }} <br />
       {{ post.body | slice:":100" | safe }} <br/>
       {% if user.is_authenticated %}
        <small><a href="{% url 'update_post' post.pk %}">Edit - </a> </small>
        <small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>
       {% endif %}
      <hr />
  {%endfor%}
</div>
{%endblock%}
